/* This, together with the two blocks below, loads our font of choice (Poppins)
 * and sets it as the primary font to use throughout the app
 * We need to mark everything as important to override Vuetify styling */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

:root {
    --jp-content-font-family: "Poppins" !important;
    --jp-ui-font-family: "Poppins" !important;
}

html,
.v-application,
.v-application .title,
.v-application *[class^='display'] {
    font-family: "Poppins" !important;
    font-weight: 200 !important;
    font-style: normal !important;
}

/*.v-data-table__wrapper > table > tbody > tr:hover {*/
/*  background: inherit !important;*/
/*}*/

/* This removes the solara watermark */
.v-application--wrap > div:nth-child(2) > div:nth-child(2){
    display: none !important;
}




/* Educator Dashboard CSS */


.cds-dashboard {
    /* this is just a wrapper to "scope" the css styles */
}

.mc-question-summary-table .v-data-table__selected {
    background: var(--md-amber-100) !important;
    color: black;
}

.mc-individual-student-table .v-data-table__selected {
    background: var(--md-amber-100) !important;
    color: black;
}


.cds-dashboard .my-buttons {
    width: 100%;
    background-color: var(--md-blue-800) !important;
    color: white !important;
    margin-bottom: 5px;
}

.cds-dashboard .my-buttons.student-name-button {
    width: auto;
    min-width: 200px;
}

.cds-dashboard .my-cards {
    max-width: 98%;
    padding: 10px;
}

.cds-dashboard .v-dialog {
    box-shadow: none;
}

.cds-dashboard .my-success {
    margin-block: 10px;
}

.cds-dashboard .dialog-button {
    position:absolute;
    right: 1.5rem;
    bottom: 0.5rem;
    background-color: var(--md-blue-800) !important;
    color: white !important;
}

.cds-dashboard .col {
    padding-block: 0;
}

.cds-dashboard .vertical-tabs {
    width: 100%;
}

.cds-dashboard .vertical-tabs[aria-selected="true"] {
    background-color: var(--md-deep-orange-800) !important;
    color: white;
}

.cds-dashboard .v-tabs--vertical .v-tabs-slider {
    color:  var(--md-deep-orange-800);
}

.cds-dashboard .horizontal-tabs[aria-selected="true"] {
    color: var(--md-blue-700) !important;
    font-weight: 800; 
}

.cds-dashboard .v-btn__content {
    font-size: small;
}

.cds-dashboard .v-btn--contained {
    padding-block: 0;
}

.cds-dashboard .v-card__text {
    /* color: black !important; */
    padding-top: 0;
    padding-bottom: 16px;
}

.cds-dashboard .info-text{
    padding: 0.5rem;
}

.cds-dashboard .v-expansion-panel-header {
    padding-left: 1rem;
    padding-top: 0;
    padding-bottom: 0;
}

/* Disable plotly tools */
.cds-dashboard .modebar {
    display: none !important;
}   

.cds-dashboard #click-any-row-for-more-detailed-question-information {
    padding-left: 0.625rem;  /* 10px @ 16px/rem */
}
.cds-dashboard #select-a-student-from-the-table-above-to-see-their-responses {
    padding-left: 0.625rem;   
}

.cds-dashboard .solara-markdown {
    padding-left: 0.5rem;
    padding-top: 0.5rem;
}

.theme--dark .cds-dashboard #table-from-rows tbody tr:not(:hover) {
    background-color: #1e1e1e;
}

.theme--light .cds-dashboard #table-from-rows tbody tr:not(:hover) {
    background-color: white;
}
/* make vertical tabs horizontal on tall screns */
/* 1130 to account for plot legend overlap */
@media (max-width: 1130px) {
    .cds-dashboard .v-tabs--vertical {
        display: block;
    }
    
    .cds-dashboard .v-tabs--vertical > .v-tabs-bar > .v-slide-group__wrapper {
        flex: 0 1 auto;
    }
    .cds-dashboard .v-tabs--vertical>.v-tabs-bar .v-tabs-bar__content {
        flex-direction: row
    }

}
